@keyframes rotate {
  0% {
      transform: scale(1) rotate(360deg);
  }
  50% {
      transform: scale(.8) rotate(-360deg);
  }
  100% {
      transform: scale(1) rotate(360deg);
  }
}

@keyframes fadeInFromNone {
    0% {
      display: none;
      opacity: 0;
    }
  
    1% {
      display: block;
      opacity: 0;
    }
  
    100% {
      display: block;
      opacity: 1;
    }
  }